<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiyun.asmodeus.xyxy">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.AnimActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.fragment.RegistActivity" />
        <activity android:name=".view.fragment.LoginActivity" />
        <activity android:name=".view.fragment.UserActivity" />
        <activity android:name=".view.fragment.FindPassActivity" />
        <activity android:name=".view.fragment.ResetPassActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterFindActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterDetailActivity" />
        <activity android:name=".view.fragment.myselfactivity.StudentDingdanActivity" />
        <activity android:name=".view.fragment.myselfactivity.VoucherCenterActivity" />
        <activity android:name=".view.fragment.myselfactivity.GuanZhuActivity" />
        <activity android:name=".view.fragment.myselfactivity.TieZiActivity" />
        <activity android:name=".view.fragment.myselfactivity.FensActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterLiveDetailActivity" />
        <activity android:name=".view.fragment.myselfactivity.GiftActivity" />
        <activity android:name=".view.fragment.myselfactivity.SettingActivity" />
        <activity android:name=".view.fragment.myselfactivity.MessageActivity" />
        <activity android:name=".view.fragment.myselfactivity.ChangePhoneNumActivity" />
        <activity
            android:name=".view.fragment.homeactivity.MasterLiveDetailActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".view.fragment.homeactivity.LivingListActivity" />
        <activity android:name=".view.fragment.workactivity.PublishSelectWokListActivity" />
        <activity android:name=".view.fragment.NoticeInfoActivity" />
        <activity android:name=".view.fragment.UserInfoActivity" />
        <activity
            android:name=".view.fragment.workactivity.PublishSelectWokListActivity"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterLiveListActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterWorkListActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterFudaoListActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterTieziListActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterGuanzhuListActivity" />
        <activity android:name=".view.fragment.homeactivity.MasterFansListActivity" />
        <activity android:name=".view.fragment.homeactivity.WorkDataActivity" />
        <activity android:name=".view.fragment.myselfactivity.SingleLineAty" />
        <activity android:name=".view.fragment.myselfactivity.MultiLineAty" />
        <activity android:name=".view.fragment.myselfactivity.FavoritesAty" />
        <activity android:name=".view.fragment.homeactivity.WokDetailCommentActivity" />
        <activity android:name=".view.fragment.homeactivity.PersonInfoActivity" />
        <activity android:name=".view.fragment.homeactivity.ValuableDetailActivity" />
        <activity android:name=".view.fragment.homeactivity.ValuableDetailCommentActivity" />
        <activity android:name=".view.fragment.homeactivity.VideoDetailActivity" />

        <!-- 第三方 -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1106725573" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.fragment.myselfactivity.MyselfPianhao" />
        <activity android:name=".view.fragment.myselfactivity.MyselfRenZheng"></activity>
    </application>

</manifest>